# Godot
.godot/
*.tmp

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db
/.godot/editor
/addons
/assets
/.godot
/test
/phantom-camera-17dfc5a2c7040fd6faf0bef758f5f89a92af7ff0
/.godot
/nanobanana-output
/.godot/shader_cache
/.godot/shader_cache
/.godot/shader_cache/SceneShaderGLES3
/.godot/shader_cache/SceneShaderGLES3/e13917c588f675151cd1c57ed58d061fa0c6641889713bfbdd10328ead644f1b
/.godot/shader_cache
/.godot/shader_cache
